<div class="bg-transparent">
  <div class="md:p-12 rounded-lg w-full flex flex-col gap-6">
    <div class="mainForm-container rounded-lg flex flex-col gap-8 p-10">
      <header>
        <div class="form-header flex flex-col gap-2">
          <h2 class="header-text">Create a New Password</h2>
          <h5 class="second-text">
            Create a new, strong password to secure your workstation access.
          </h5>
        </div>
      </header>
      <form class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <label for="password " class="label">New Password </label>
          <input
            [formField]="resetForm.password"
            class="input input-base"
            id="password"
            type="password"
            placeholder="Enter your password"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="confirmPassword " class="label">confirm Password </label>
          <input
            [formField]="resetForm.confirmPassword"
            class="input input-base"
            id="confirmPassword"
            type="password"
            placeholder=" confirm password"
          />
          @if (resetForm.confirmPassword().errors() && resetForm.confirmPassword().dirty()) {
            @for (err of resetForm.confirmPassword().errors(); track $index) {
              <small class="text-red-800 text-xs"> * {{ err.message }} </small>
            }
          }
        </div>

        <!-- validation -->
        <div class="validation-box flex flex-col gap-4 p-5 rounded bg-red-800">
          <h6 class="pb-2 label">Security Requirements</h6>
          <div class="grid grid-cols md:grid-cols-2 gap-3 md:[&>*:last-child]:col-span-2">
            @for (state of passwordCheckedStats(); track state.label) {
              <div class="item flex items-baseline" [class.opacity-50]="!state.inCase">
                <img
                  [src]="state.inCase ? `assets/icons/Icon2.svg` : `assets/icons/unChecked.svg`"
                  class=""
                  width="10px"
                  alt="check-icon"
                />
                <span class="pl-2 text-regular text-sm text-color align-text">
                  {{ state.label }}
                </span>
              </div>
            }
          </div>
        </div>
        <button
        [disabled]="!passwordValid() || resetForm().invalid()"
          (click)="submit(); $event.preventDefault()"
          type="submit"
          class="auth-btn w-full cursor-pointer
          disabled:cursor-not-allowed
           disabled:opacity-70 "
        >
          Update Password
        </button>
        <div class="flex justify-center items-center">
          <a routerLink="/auth/login" class="flex gap-1 text-medium font-base text-[#003D9B]">
            <img src="../../../../../assets/icons/back.svg" alt="back" />
            Back to log in
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
