<div class="  bg-transparent">
   <div class=" md:p-12 rounded-lg  w-full  flex flex-col gap-6" >
    <div class="mainForm-container rounded-lg flex flex-col gap-8 p-10 "> 
       <header>
        <div class=" form-header flex flex-col gap-2">
        <h2 class=" header-text"> Create a New Password  </h2>
        <h5 class="second-text ">Create a new, strong password to secure your workstation access. </h5>
      </div>
      </header>
      <form  class=" flex flex-col gap-6 ">
      <div class=" flex flex-col gap-2">
        <label for="password "  class="label">New Password </label>
        <input
        class=" input input-base"
         id="password"
         type="password"
         placeholder="Enter your password"
         >
      </div>
       <div class=" flex flex-col gap-2">
        <label for="password "  class="label">confirm Password </label>
        <input
        class=" input input-base"
         id="password"
         type="password"
         placeholder="Enter your password"
         >
      </div>
      <button
      type="submit"
       class=" auth-btn w-full cursor-pointer"> Update Password
       </button>
      <div class=" flex justify-center items-center ">
        <a routerLink="/auth/login" class="flex gap-1 text-medium font-base text-[#003D9B] ">
             <img src="../../../../../assets/icons/back.svg" alt="back">
             Back to log in
          </a>
       </div>

      </form>
    
    </div>


   </div>
</div>
