// layout Desktop
.main-layout{
  background: linear-gradient(0deg, #F9F9FF, #F9F9FF),
              radial-gradient(132.58% 132.58% at -4325% -4325%, #D7E2FF 1.18%, rgba(215, 226, 255, 0) 1.18%);

}
// -------------------------------------------------------------------------
// aside
aside{
background: rgba(241, 243, 255, 1);
}


// ---------------------------------------------
// right wrapper
.headerbar{

// justify-content: space-between;
padding: 12px 24px ;

border-bottom-width: 1px;

background: rgba(249, 249, 255, 1);

border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
// ------------------------------------

.burger-menu  span{

font-size: 20px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: -0.5px;
padding-right: 92.31px;



}