//  600 500 400


.align-text {
text-align: center;
vertical-align: middle;
}

.text-color {
  color: var(--color-text );
}
.text-Primary{
  color: var(--Primary);
}
.text-C-secondary{
  color: var(--color-text-secondary);
}


.text-bold {
font-weight: 700;
font-style:  Bold;
}
.text-semibold{
 font-weight: 600;
 font-style: Semi Bold;

}
.text-medium {
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
}

.text-regular{
  font-weight: 400;
font-style: Regular;
}