

.align-text {
text-align: center;
vertical-align: middle;
}

.text-color {
  color: var(--color-text );
}
.text-Primary{
  color: var(--Primary);
}
.text-C-secondary{
  color: var(--color-text-secondary);
}
.color-Error{
  color: var(--color-Error );
}
.muted-color{
  color: var(--muted-color);
}
// ------------------------------

.text-bold {
font-weight: 700;
font-style:  Bold;
}
.text-semibold{
 font-weight: 600;
 font-style: Semi Bold;

}
.text-medium {
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
}
.text-regular{
  font-weight: 400;
font-style: Regular;
}

.main-btn{
background: linear-gradient(95.71deg, #003D9B 0%, #0052CC 100%);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
// text
color: rgba(255, 255, 255, 1);
// font-weight: 600;
// font-style: Semi Bold;
// font-size: 16px;
text-align: center;
vertical-align: middle;
// height: 48px;
border-radius: 8px;
cursor: pointer;
}
.main-btn:disabled {
  cursor: not-allowed;
  opacity: 60%;
}

// -----------------------------

// .header-text{

// line-height: 16px;
// letter-spacing: 1.2px;
//   @apply   .text-bold align-text  text-xs ;

//
// }
// breadCrumb
.notActive-breadcrumb{
  color: rgba(67, 70, 84, 0.6);
}
.active-breadcrumb{
  color: #003D9B;
}
// -------------------
.header-text{

font-weight: 700;
font-style: Bold;
font-size: 36px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: -0.9px;
vertical-align: middle;
color: rgba(4, 27, 60, 1);


}
.main-text1{
color: var(--color-text);
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;

// leading-trim: NONE;
// letter-spacing: 0px;


}
 .header-span   , .main-span{
font-family: Inter;
font-weight: 400;
font-style: Regular;
// font-size: 12px;
font-size: 16px;

leading-trim: NONE;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;

color: #434654;

}


.cancel-btn{
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: #4F5F7B;
cursor: pointer;

}
