
// Color Palette
:root{

--Primary : #003D9B;
--Primary-Container: #0052cc ;

--Primary-gradient : linear-gradient(95.71deg, #003D9B 0%, #0052CC 100%);
// Primary-Container : Background+Border background: #0052CC;border: 1px solid #C3C6D61A ;

--Surface-Highest : #D7E2FF ;
--Surface-Medium :#E8EEFC;
--Surface-Low :#F1F3FF ;
--Background :#F9F9FF ;
// --Background : Background+Border background:#F9F9FF border: 1px solid #C3C6D61A
// --Surface-Medium : #D7E2FF ;  #737685 ;

// color-text
--color-text : #041B3C;
--color-text-secondary:#4F5F7B ;
--color-text-muted:#C3C6D6 ;

--color-success : #82F9BE ;
--color-Error : #BA1A1A ;
--color-Warning : #FFB300 ;

// ---------------------------------------------------




}