

:root {
--font-family-base : 'Inter' ,sans-serif  ;

--font-size-display-lg :3.5rem ;
--font-size-headline-lg : 2rem;
--font-size-title-md : 1.125rem;
--font-size-body-md : .875rem;
--font-size-label-md :.75rem ;

--font-weight-regular : 400 ;
--font-weight-medium : 500 ;
--font-weight-semibold :600  ;
--font-weight-bold : 700 ;




}
