
.content{
  box-shadow: 0px 1px 2px 0px #0000000D;
}
thead tr {
  background: #E0E8FF4D;
  color: #434654;
}


tbody tr{
  border-top: 1px solid #E8EDFF
}

.avatar{
  width: 48px;
height: 48px;
border-radius: 12px;

padding-top: 13.5px;
padding-bottom: 14.5px;
background-color: #DAE2FF;
color: #003D9B;

font-weight: 700;
font-style: Bold;
font-size: 14px;

line-height: 20px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;

}


//  .skeleton-loading {

//   *{color: transparent !important;
//    background-color: #e2e8f0 !important;
//     border-color: transparent !important;
//      user-select: none;
//      pointer-events: none  ;
//      border-radius: 4px;}

//  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
//  }
// @keyframes pulse { 0%, 100% { opacity: 1; } 50% { opacity: 0.5; } }
