
.layout{
background-color: rgba(249, 249, 255, 1);
}


.header-text{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 20px;
// leading-trim: NONE;
line-height: 28px;
letter-spacing: -0.5px;
vertical-align: middle;
color: rgba(4, 27, 60, 1);
}


