
<div class="layout bg-blue-600
min-h-screen w-full flex flex-col  items-center ">
<header class="w-full pt-1 ">
  <div  class="header-container
  flex flex-row justify-start items-center gap-2">
         <img src="../../../../../assets/icons/Icon.svg" class="text-2xl" alt="x">

      <p class="header-text" >  TASKLY</p>
  </div>
</header>
<main class="pt-10 pb-3 ">
  <div class="mainForm-container ">
     <router-outlet></router-outlet>
</div>
</main>

</div>

<!--
<img src="../../../../../assets/images/Cover.png"

alt="fffffffffffffff">


<img src="assets/images/Cover.png"

alt="xxxxxxxxffffffffffffff">


<img src="../../../../../../public/Cover1.png"
width="500" alt="gggoooooggg">


<img src="public/Cover1.png"  alt="ggggggggggggggggggggggg">


<img src="public/Icon.svg"
width="500" alt="g"> -->
