// aside

aside  .sidebar-header{
font-size: 20px;
line-height: 28px;
letter-spacing: -0.5px;
vertical-align: middle;
color:var(--color-text ) ;
}
// ------------------------
// nav in side bar

nav {

font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
color:var(--color-text );

}
.active{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: rgba(0, 61, 155, 1);
  border-radius: 4px;
}
// ---


.active-projects span , .project-menu span{
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
color: rgba(4, 27, 60, 1);

}


.project-menu{
background: rgba(255, 255, 255, 1);
}
.active-project{
border-radius: 40px;
background-color: rgba(241, 243, 255, 1);
}

.project-popup{
  position: absolute;
  top: 20px;
  left: calc(100% + 16px);
  // ----------------------
// background: rgba(255, 255, 255, 0.7);
 backdrop-filter: blur(20px) ;
background-color: rgba(215, 226, 255, 1);
  
}








// ----------------
// collapes-logout-container
.collapse-logout-container {

border-top-width: 1px;
border-top: 1px solid rgba(195, 198, 214, 0.2) ;

letter-spacing: 0px;


.collapse-btn{
  color:var(--color-text );
}
.logout-btn{
  color: var(--color-Error);
}


}


// -----------------------
.icon-text-mobile{
 
font-weight: 400;
font-style: Regular;
font-size: 10px;

line-height: 15px;
letter-spacing: 0px;
vertical-align: middle;
color: rgba(4, 27, 60, 0.7);


}
.mobile-footer{

padding-right: 27.86px;
padding-left: 27.83px;
gap: 39.7px;
angle: 0 deg;
opacity: 1;

  background: rgba(241, 243, 255, 1);

}
.a-mobile{
 
font-size: 10px;
leading-trim: NONE;
line-height: 15px;
letter-spacing: 0px;
vertical-align: middle;
// 
}
.mobile-active{
  color: rgba(0, 82, 204, 1);
}