<aside class="  flex flex-col justify-between  h-full  " >

  <!-- header -->
  <div class="sidebar-header flex px-2 gap-2 pb-8  items-center text-bold">
     <img src="../../../../Icon.svg" width="20" alt="">
    <span class=" "
    [class.hidden]="isCollapsed()"
    > TASKLY </span>
    </div>

    <!-- main Navigate -->
   <div class="saidbar-nav gap-1  flex-grow  ">

     <nav class=" flex flex-col gap-1  text-semibold ">
      <a
      routerLink="/MainLayout/Projects"
      routerLinkActive="active"
      class="flex gap-3 px-4 py-[10px] rounded-sm  active items-center "
       >
          <img src="../../../../Icon.svg" width="20" alt="">
          <span 
          class="  md:w-[224px] "
           [class.hidden]="isCollapsed()" > Project </span>
      </a>
        <a
        routerLink="/MainLayout/ProjectsList"
      class="flex gap-3 px-3 py-[10px]   "
       >
          <img src="../../../../Icon.svg" width="20" alt="">
          <span 
          class="  md:w-[224px] "
           [class.hidden]="isCollapsed()"> Statistics </span>
      </a>

    </nav> 




  </div> 

<!-- collapse && logout -->
<div class="collapse-logout-container flex flex-col gap-1 pt-[24px] 
text-medium  align-text 

">
 
    <button
    type="button"
     class=" collapse-btn flex gap-3 py-[10px] px-3 cursor-pointer  "
     (click)="collapsedSidebar()"
     > 
     <img src="../../../../Icon.svg" width="20" alt="">
     <span 
      [class.hidden]="isCollapsed()">collapes  </span>
      </button>

  <button 
   type="button"
  (click)="logout()"
  class=" logout-btn flex gap-3 py-[10px] px-3 cursor-pointer"
  >
    <img src="../../../../Icon.svg"  width="20" alt="">
    <span
     [class.hidden]="isCollapsed()">  Logout </span>
  
   </button>

</div>

</aside>


