// footer
footer{
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: rgba(79, 95, 123, 1);
line-height: 20px;
// letter-spacing: 0px;
text-align: center;
vertical-align: middle;
// gap: 3.99px ;
}
footer .footer-link {
font-weight: 600;
font-style: Semi Bold;
  color: rgba(0, 61, 155, 1) ;
}