

.btn{
  background: linear-gradient(135deg, #003D9B 0%, #0052CC 100%);
  box-shadow: 0px 1px 2px 0px #0000000D;

}

.fixed-btn {

  background: linear-gradient(135deg, #003D9B 0%, #0052CC 100%);
width: 56px;
height: 56px;
border-radius: 12px;
box-shadow: 0px 4px 6px -4px #0000001A;
box-shadow: 0px 10px 15px -3px #0000001A;

}


// ----------------
loading-card {
  border: 1px solid #C3C6D61A ;
  box-shadow: 0px 1px 2px 0px #0000000D;
// shadow-sm


}
.item-bg{
  background-color: #E8EDFF;
}
