


.remmber-me , .forgetpass{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;

}
.remmber-me input{
  background: rgba(241, 243, 255, 1);
  border: 1px solid rgba(195, 198, 214, 1)
}

.remmber-me{
  color: rgba(67, 70, 84, 1);
}
.forgetpass{

color: rgba(0, 61, 155, 1);

}





.footer-container{
  width: 384;
height: 53;
angle: 0 deg;
opacity: 1;
padding-top: 32px;
top: 485px;
left: 48px;
border-top-width: 1px;
border-top: 1px solid rgba(195, 198, 214, 0.15)
}


