<div class="  bg-transparent">
   <div class=" md:p-12 rounded-lg  w-full  flex flex-col gap-6" >
    <div class="mainForm-container rounded-lg flex flex-col gap-8 p-10 "> 
       <header>
        <div class=" form-header flex flex-col gap-2">
        <h2 class=" header-text"> Forgot password?  </h2>
        <h5 class="second-text ">No worries, we'll send you reset instructions. </h5>
      </div>
      </header>
      <form 
      class=" flex flex-col gap-6 ">
      <div class=" flex flex-col gap-2">
        <label for="email "  class="label"> Email address </label>
        <input
        class=" input input-base"
         id="email"
         type="email"
         placeholder="Enter your Email"
         >
      </div>
      <button
      type="submit"
       class=" auth-btn w-full cursor-pointer"> Send Reset Link
       </button>
      <div class=" flex justify-center items-center ">
        <a routerLink="/auth/login" class="flex gap-1 text-medium font-base text-[#003D9B] ">
             <img src="../../../../../assets/icons/back.svg" alt="back">
             Back to log in
          </a>
       </div>

      </form>
    
    </div>
    <div class="success-state flex flex-col gap-6 rounded-lg ">
      <div class=" flex flex-col gap-3 p-4">
        <div class=" flex items-start  gap-3 md:w-3/4">
          <img src="../../../../../assets/icons/checked.svg" alt="checked" class=" "> 
         <span class="pr-2 text-medium pt-0 "> If an account exists with this email, we've sent
          a password reset link. </span>
        </div>
        <div class="alert-section pt-3 flex justify-between text-bold ">
          <button class="uppercase cursor-pointer">
            Didn't receive email?
          </button>
          <button 
          class="uppercase btn cursor-pointer"
          > Resend in 05:00</button>
        </div>

      </div>

    </div>

   </div>
</div>
