




.success-state{
  border-top: 1px solid #C3C6D626 ;
  background: #82F9BE4D;
  backdrop-filter: blur(12px) ;
 span{
  font-size: 12px;
  color: #005235;
  line-height: 19.5px;
 }
}
.alert-section{
  border-top: 1px solid #0052351A ;
font-size: 11px;
line-height: 16.5px;
letter-spacing: 1.1px;
vertical-align: middle;
text-transform: uppercase;
color: #00523599;
.btn{
  color: #003D9B;
}

}